@{
    ViewData["Title"] = "Welcome to THE OFFICIAL TACOCAT";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="../Home/Reverse">
        <img src="../img/tacocat_thumb.png" alt="www.snorgtees.com/taco-cat" style="width:30%;height:30%;">
    </a>
    <p>Thank You for visiting.</p>
</div>

