@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <iframe src="https://giphy.com/embed/jnBXe38Ww2XAI" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/all-your-base-jnBXe38Ww2XAI">via GIPHY</a></p>

    <p>All your DATA are BELONG to ME.</p>
</div>
